<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Chi tiết dự án</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <form action="" id="add-project-form" method="post">
            <label for="proj-name">Nhập tên dự án</label><br>
            <input type="text" name="proj-name" placeholder="Tên dự án"><br>
            <label for="proj-lead">Nhập tên leader</label><br>
            <input type="text" name="proj-lead" placeholder="Tên leader"><br>
            <input type="submit" value="Xác nhận"><br>
        </form>
    </main>
</body>
</html>