<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <title>Tạo dự án mới</title>
    <base href="http://localhost:3000" />
    <script src="./projectCreate.js"></script>
    <style>
      #project-create-form {margin: 20px; }
      #leader, #leaderEmail, #numberOfMember {width: 200px; height: auto; margin-bottom: 5px; }
      #listMember {margin-bottom: 10px;}
      #numberOfMemberHelp {margin-bottom: 20px;}
    </style>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    
    <div id="project-create-form">
      <h1>Tạo dự án mới</h1>
      <form>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputName" placeholder="example" aria-describedby="nameHelp">
            <label for="inputName" class="form-label">Tên dự án</label>
            <div id="nameHelp" class="form-text">Lựa chọn tên cho dự án khởi tạo</div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" id="inputClient" class="form-control" placeholder="example" aria-describedby="clientHelp">
            <label for="inputClient" class="form-label">Tên khách hàng</label>
            <div id="clientHelp" class="form-text">
            Cung cấp tên khách hàng của dự án
            </div>
          </div>
          <div class="mb-3">
            <label for="inputLeader" class="form-label">Leader</label>
            <table>
              <tr>
                <td>
                  <select id="leader" class="form-select" aria-describedby="leaderHelp">
                    <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                      <option>
                        <%= data[i].name%>
                      </option>
                      <% }} %>
                  </select>
                </td>
                <td>
                  <input class="form-control" id="leaderEmail" value="ID" readonly>
                </td>
              </tr>
            </table>
            <div id="leaderHelp" style="margin-bottom: 10px;" class="form-text">Chọn Leader của dự án</div>
          </div>
            <div class="form-floating mb-3">
              <input type="text" id="inputBudget" class="form-control" placeholder="example" aria-describedby="budgetHelp">
              <label for="inputBudget" class="form-label">Ngân sách Token</label>
              <div id="budgetHelp" class="form-text">
              Nhập số lượng Token thưởng của dự án
              </div>
            </div>
            <div id="numberMemberList" class="mb-3">
              <label for="inputNumberofMember" class="form-label">Số thành viên</label>
              <select id="numberOfMember" class="form-select" aria-describedby="numberOfMemberHelp">
                <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                  <option>
                    <%= i+1%>
                  </option>
                  <% }} %>
              </select>
              <div id="numberOfMemberHelp" class="form-text">
              Nhập số lượng thành viên của dự án
              </div>
            </div>
          <button id="btnCheck" type="button" class="btn btn-primary">Check</button>
          <button id="btnSubmit" type="submit" class="btn btn-primary">Xác nhận</button>
        </form>
  </div>
    
  </main>
</body>
</html>