<!DOCTYPE html>
<html lang="en">
    <style>
        .center-parent {
          text-align: center;
        }
        </style>
<head>
    <%- include('../partials/head'); %>
    <title>Chi tiết dự án</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="center-parent">
        <h1>
            Quản lý dự án
        </h1>
        <a href="/project/list"> 
            <button class="btn btn-primary" > Danh sách dự án </button>
        </a>
        <a href="/project/create"> 
            <button class="btn btn-primary" > Thêm dự án mới </button>
        </a>
    </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>