<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">PMC</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Nhân viên</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/project">Dự án</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transfer">Trao đổi</a>
      </li>
    </ul>
  </nav>