<!DOCTYPE html>
<html lang="en">
    <style>
        .center-parent {
          text-align: center;
        }
        </style>
<head>
    <%- include('./partials/head'); %>
    <title>Khoá luận tốt nghiệp</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <div class="center-parent">
            <h2>
                Trang chủ
            </h2>
            <a href="/project">
                <button type="button" class="btn btn-primary"> Quản lý dự án </button>
            </a>
            <a href="/users">
                <button type="button" class="btn btn-primary"> Quản lý nhân viên </button>
            </a>
        </div>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>