<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khoá luận tốt nghiệp</title>
</head>
<body>
    <h2>
        Trang chủ
    </h2>
    <button id="btnCreate">
        <a href="/users"> Quản lý nhân viên </a>
    </button>
    <button id="btnCreate">
        <a href="/project"> Quản lý dự án </a>
    </button>
    
</body>
</html>