<!DOCTYPE html>
<html lang="en">
    <style>
        .center-parent {
          text-align: center;
        }
        </style>
<head>
    <%- include('./partials/head'); %>
    <title>Khoá luận tốt nghiệp</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <div class="center-parent">
            <h2>
                Trang chủ
            </h2>
            <a href="/project">
                <button type="button" class="btn btn-primary"> Quản lý dự án </button>
            </a>
            <a href="/users">
                <button type="button" class="btn btn-primary"> Quản lý nhân viên </button>
            </a>
        </div>
        <div>
            <!-- Du an -->
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="200" height="480" src="https://charts.mongodb.com/charts-dapp_sc-wcazu/embed/charts?id=62a4b91d-8f99-4be6-8ce6-195c35e709cd&maxDataAge=10&theme=light&autoRefresh=true"></iframe>
            <!-- Nhan vien -->
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="200" height="480" src="https://charts.mongodb.com/charts-dapp_sc-wcazu/embed/charts?id=62a4b8d6-8f29-41b7-89d0-d46f9b1e4b27&maxDataAge=10&theme=light&autoRefresh=true"></iframe>
            <!-- Du an/Budget -->
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-dapp_sc-wcazu/embed/charts?id=62a4b7de-16bf-475e-8227-231614987652&maxDataAge=10&theme=light&autoRefresh=true"></iframe>
            <!-- Task/Nhan vien -->
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-dapp_sc-wcazu/embed/charts?id=62a4c0fd-1170-4a7b-8e6b-351b43f286fb&maxDataAge=10&theme=light&autoRefresh=true"></iframe>
    </main>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>