<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000" />
    <%- include('../partials/head'); %>
    <title>Thêm nhân viên</title>
    <script src="./scripts/web3.js"></script>
    <script src="./employeeCreate.js"></script>
    <style>
         #employee-create-form {margin: 20px;}
    </style>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
      <%- include('../partials/users/sidenav'); %>
      
      <div id="employee-create-form">
        <h1>Tạo nhân viên mới</h1>
        <form>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputName" placeholder="example" aria-describedby="nameHelp">
            <label for="inputName" class="form-label">Tên nhân viên</label>
            <div id="nameHelp" class="form-text">Nhập họ tên cho nhân viên mới</div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputEmail" placeholder="example" aria-describedby="emailHelp">
            <label for="inputEmail" class="form-label">Email</label>
            <div id="emailHelp" class="form-text">Tạo email mới cho nhân viên</div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputPhone" placeholder="example" aria-describedby="phoneHelp">
            <label for="inputPhone" class="form-label">Số điện thoại</label>
            <div id="phoneHelp" class="form-text">Nhập số điện thoại của nhân viên</div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputID" placeholder="example" aria-describedby="IDHelp">
            <label for="inputID" class="form-label">Mã nhân viên</label>
            <div id="IDHelp" class="form-text">Nhập mã nhân viên</div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputWallet" placeholder="example" aria-describedby="walletHelp">
            <label for="inputWallet" class="form-label">Địa chỉ ví</label>
            <div id="walletHelp" class="form-text">Cung cấp địa chỉ ví của nhân viên </div>
          </div>
            <button id="btnSubmit" type="submit" class="btn btn-primary">Xác nhận</button>
          </div>
        </form>
      </div>
    </main>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>