<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm nhân viên</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./scripts/web3.js"></script>
    <script src="./process.js"></script>
    <style>
        #frmRegister, #list {background-color: antiquewhite; padding: 10px; margin-bottom: 10px;}
        #tbList{width: 90%}
        #rowLabel td, .row{text-align: center; padding: 4px; border-bottom: solid 1px cornflowerblue;}
    </style>
</head>
<body>
    <h2>Register</h2> 
    <button id="btnConnectMM">Connect to MetaMask Wallet</button>
    <div id="frmRegister">
        <input id="txtEmail" type="text" placeholder="Email" />
        <input id="txtName" type="text" placeholder="Name" />
        <input id="txtPhone" type="text" placeholder="Phone" />
        <button id="btnRegister"> Register </button>
    </div>
    <div id="list">
        <table id="tbList">
            <tr id="rowLabel">
                <td>Address</td>
                <td>ID</td>
            </tr>
        </table>
    </div>
</body>
</html>