<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách nhân viên</title>
    <style>
        #tbList{width: 90%}
        #rowLabel td, .row{text-align: center; padding: 4px; border-bottom: solid 1px cornflowerblue;}
    </style>
</head>
<body>
    <h2> Danh sách nhân viên</h2>
    <div id="list">
        <table id="tbList">
            <tr id="rowLabel">
                <td>Họ Tên</td>
                <td>ID</td>
            </tr>
        </table>
    </div>
</body>
</html>