<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000" />
    <%- include('../partials/head'); %>
    <title>Trao đổi token</title>
    <script src="./scripts/web3.js"></script>
    <script src="./exchange.js"></script>
    <style>
        #receiverWallet, #tokenAmount, #senderWallet, #senderAmount {width: 600px;}
        .center-parent {
          text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <%- include('../partials/transfer/sidenav'); %>
        <h1 class="center-parent">
            Chuyển token
        </h1>
        <br>
        <h2 class="center-parent">Thông tin người gửi</h2>
        <table class="table">
            <tr>
                <th scope="col"> Địa chỉ ví người gửi</th>
                <td scope="row">
                    <input class="form-control" id="senderWallet" readonly>
                </td>
            </tr>
            <tr>
                <th scope="col"> Số dư token (PMC)</th>
                <td scope="row">
                    <input class="form-control" id="senderAmount" readonly>
                </td>
            </tr>
        </table>
        <h2 class="center-parent">Thông tin giao dịch</h2>
        <table class="table">
            <tr>
                <th scope="col"> Địa chỉ ví người nhận</th>
                <td scope="row">
                    <input class="form-control" id="receiverWallet" >
                </td>
            </tr>
            <tr>
                <th scope="col"> Số token gửi (PMC)</th>
                <td scope="row">
                    <input class="form-control" id="tokenAmount">
                </td>
            </tr>
        </table>
        <a> 
            <button type="button" class="btn btn-primary" id="submitExchange" > Thực hiện chuyển </button>
        </a>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>