<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Trao đổi token</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1>
            Trang trao đổi token
        </h1>
        <a> 
            <button class="btn btn-primary" > Trao đổi </button>
        </a>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>