<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000" />
    <%- include('../partials/head'); %>
    <title>Trao đổi token</title>
    <script src="./scripts/web3.js"></script>
    <script src="./reward.js"></script>
    <style>
        #receiverWallet, #tokenAmount, #senderWallet, #senderAmount, #rewardType, #rewardAmount {width: 600px;}
        .center-parent {
          text-align: center;
        }
        #loading {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
      }
      #loading-image {
        z-index: 100;
      }
    </style>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <%- include('../partials/transfer/sidenav'); %>
        <div id="loading">
            <img id="loading-image" src="https://plecevo.eu/i/simple_loading.gif" alt="Loading..." />
        </div>
        <input id="select" value="" readonly>
        <h1 class="center-parent">
            Đổi thưởng
        </h1>
        <br>
        <h2 class="center-parent">Thông tin ví nhân viên</h2>
        <table class="table">
            <tr>
                <th scope="col"> Địa chỉ ví nhân viên</th>
                <td scope="row">
                    <input class="form-control" id="senderWallet" readonly>
                </td>
            </tr>
            <tr>
                <th scope="col"> Số dư token (PMC)</th>
                <td scope="row">
                    <input class="form-control" id="senderAmount" readonly>
                </td>
            </tr>
            <tr>
                <th scope="col"> Loại hình thưởng chuyển đổi</th>
                <td scope="row">
                    <select id="rewardType" class="form-select">
                          <option>
                            Lựa chọn
                          </option>
                          <option>
                            Tiền mặt
                          </option>
                          <option>
                            Ngày nghỉ
                          </option>
                          <option>
                            Voucher ăn uống 250k
                          </option>
                      </select>
                </td>
            </tr>
            <th scope="col"> Số lượng muốn chuyển đổi (đơn vị)</th>
                <td scope="row">
                    <input class="form-control" id="rewardAmount">
                </td>
            </table>
            <div class="center-parent">
                <a> 
                    <button type="button" class="btn btn-primary" id="change" > Thực hiện đổi thưởng </button>
                </a>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>